body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.card {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    263deg,
    rgb(212, 209, 209, 0.5) 0%,
    rgb(173, 175, 177, 0.5) 100%
  );
}

.freezing {
  @apply bg-blue-400;
}
.cold {
  @apply bg-blue-800;
}
.warm {
  @apply bg-yellow-800;
}
.hot {
  @apply bg-red-800;
}
