 body {
    background-color: #133667;
    color: white;
    text-align: center;
}
/*
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */

.holder {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    263deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(62, 189, 255, 1) 100%
  );
}

.card {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    263deg,
    rgb(212, 209, 209, 0.5) 0%,
    rgb(173, 175, 177, 0.5) 100%
  );
}
